/* Global styles */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  background-color: #90CAF9; /* Material blue200 */
  color: #ffffff;
}

.clock {
  color: #ffffff;
  font-size: 22px;
}
